.card-information {
  border-color: #8AADC6;
  border-radius: 5px;
  border-style: double;
  margin: 3px 3px;
}

.card-information p {
  color: #F46036;
}

ul {
  list-style-type: none;
}

.justify-content-center img {
  border-radius: 6px;
}
