.table-sum {
  justify-content: center;
  background-color: #9DC3DD;
  border-style: solid;
  width: 90%;
  border-width: thin;
  border-color: white;
  color: white;
  border-radius: 2px;
  font-size: 18px;
}

.table-sum .row {
  display: flex;
}

.column {
  flex: 50%;
}

body > div > div.row.justify-content > div > p.table-sum.row > span.column.left {
  border-right-style: solid;
  border-width: thin;
  border-color: white;
}

.site-address {
  text-align: center;
}

.image-box {
  display: flex;
  justify-content: flex-end;
}

td {
    height: 50px;
}
 th {
  width: 33%;
  text-align: center;
  font-size: 14px;
  padding: 2px;
 }

table {
  width: 90%;
  border-radius: 2px;
}

thead, tfoot {
    background-color: #9DC3DD;
    color: white;
}

th, td {
  border-bottom: 1px solid #ddd;
}

