body > div.container > div > div > ul {
  padding-left: 0px;
}

body > div.container > div > ul {
  padding-left: 0px;
}

body > div.container > div > div > a {
  color: #000000;
}

body > div.container > div > div > ul:nth-child(7) > li > a {
    color: #F46036;
}

.fa-plus-square {
  color: #F46036;
  font-size: 20px;
}

.fa-list {
  color: #000000;
}

body > div.container > div > div > ul:nth-child(10) > li > a {
  color: #F46036;
}

body > div.container > div > div > h4 {
  padding: 0px 10px;
}
