<div class="container">
<div class="card-material">
  <%= image_tag("hammer.jpg") %>
  <div class="card-material-infos">
    <div>
      <h2>Description du matériel</h2>
      <p>Categorie du matériel</p>
      <p>Adresse du chantier</p>
    </div>
    <div class="card-prices">
    <h2 class="card-material-pricing card-material-bid-user">€12</h2>
      <h2 class="card-material-pricing card-material-highest-bid">€18</h2>
    </div>
      <p class="card-material-user"> J-5 </p>
  </div>
</div>
</div>
