<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-home active">
      <%= image_tag("tileswall.jpg") %>
    </div>
    <div class="carousel-home">
      <%= image_tag("tilesroof.jpg") %>
    </div>
  </div>
</div>
