<div class="footer sales">
  <li>
    <p> link_to Je vends, materials_new_path à corriger footer_link </p>
    <%= link_to "Mes ventes", sales_path, class:"footer_link"%>
    <%= link_to "lien Chantier à créer (index des chantiers si existent sinon chantier new?", new_site_path, class:"footer_link"%>
    <%= link_to "J'achète", materials_path, class:"footer_link"%>
  </li>
</div>
