<div class="row mini-footer">
  <!--   <div class="col-4 h-100 d-flex justify-content-center align-items-center">
      <div class="icon-and-text">
        <p><span><i class="fas fa-camera"></i></span>
        <span><%= link_to "Je vends", new_material_path, class:"footer-link"%></span></p>
      </div>
    </div> -->
      <div class="col-4 h-100 d-flex justify-content-center align-items-center red-text">
      <div class="icon-and-text">
        <p><span><i class="fas fa-shopping-basket red-text"></i>
        <span><%= link_to "Je cherche quoi?", materials_path, class:"footer-link red-text"%></span></p>
      </div>
    </div>

     <div class="col-4 h-100 d-flex justify-content-center align-items-center red-text">
      <div class="icon-and-text">
        <p><span><i class="fas fa-map-marker-alt red-text"></i>
        <span><%= link_to "Je cherche où?", map_path, class:"footer-link red-text"%></span></p>
      </div>
    </div>

    <div class="col-4 h-100 d-flex justify-content-center align-items-center red-text">
      <div class="icon-and-text">
        <p><span>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="26" height="26"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M33.90385,7.23558c0,0 26.66827,6.61538 44.03365,24.80769c14.26442,14.96214 15.19471,23.56731 10.12981,28.52885l-6.40865,6.40865l23.36058,23.36058l12.19712,-12.19712c0.67188,0.67188 3.87621,3.64363 8.0625,7.85577c2.89423,2.89423 2.27404,8.5018 1.24038,10.54327c-0.62019,1.24038 0,3.30769 0,3.30769l13.02404,13.02404c2.58413,2.58413 6.92548,2.58413 9.50962,0l20.46635,-20.67308c2.58413,-2.58413 2.55829,-6.71875 0,-9.30288l-12.81731,-13.02404c0,0 -1.96394,-0.8786 -2.89423,-0.41346c-2.04147,1.03365 -8.03666,1.67969 -10.95673,-1.24038c-3.85036,-3.85036 -7.13221,-7.13221 -7.85577,-7.85577l1.44712,-1.44712c1.88642,-1.88642 2.32572,-4.67728 1.44712,-7.02885c-0.02584,-0.05168 0.02584,-0.15504 0,-0.20673c-0.3101,-0.80108 -0.80108,-1.42128 -1.44712,-2.06731l-14.05769,-14.05769c-7.70072,-7.70072 -14.67788,-14.67788 -16.53846,-16.53846c-11.65445,-11.68029 -71.94231,-11.78365 -71.94231,-11.78365zM72.76923,75.87019l-70.70192,70.70192c-2.58413,2.58413 -2.58413,6.71875 0,9.30288l14.05769,14.05769c2.58413,2.58413 6.71875,2.58413 9.30288,0l70.70192,-70.70192z"></path></g></g></svg>
      </span>
        <%= link_to "Mes enchères", bids_path, class:"footer-link red-text"%></span></p>
      </div>
    </div>


</div>
