<div class="row footer">
  <div class="col-6 h-100 d-flex justify-content-center align-items-center bg-light-blue">
    <div class="icon-and-text">
    <p>
<!--           <span><i class="fas fa-camera"></i></span> -->
    <span><%= link_to "Je vends", new_material_path, class:"big-title white-text link-no-deco"%></span></p>
    </div>
  </div>
  <div class="col-6 h-100 d-flex justify-content-center align-items-center bg-navy">
    <div class="icon-and-text">
    <p>
<!--       <span><i class="fas fa-shopping-basket"></i> -->
    <span><%= link_to "J'achète", materials_path, class:"big-title white-text link-no-deco"%></span></p>
    </div>
  </div>
</div>

