<div class="footer orders">
  <li>
    <%= link_to "J'achète", materials_path, class:"footer_link"%>
    <p> Page mes achats à créer </p>
     <p> link_to Je vends, materials_new_path à corriger footer_link </p>

  </li>
</div>
