
<div class="footer">
  <div class="home">
    <div class="footer-links">
      <%= link_to "Je vends", materials_new_path, class:"footer-link"%>
      <%= link_to "J'achète", materials_path, class:"footer-link"%>
    </div>
  </div>
</div>


