<div class="footer">
  <div class="orders">
    <%= link_to "J'achète", materials_path, class:"footer-link"%>
    <%= link_to "Mes achats", "Page mes achats à créer", class:"footer-link"%>
    <%= link_to "Je vends", new_material_path, class:"footer-link"%>
  </div>
</div>
