<div class="footer sales">
  <li>
    <%= link_to "Je vends", materials_new_path, class:"footer_link"%>
    <%= link_to "Mes ventes", sales_path, class:"footer_link"%>
    <%= link_to "lien Chantier à créer (index des chantiers si existent sinon chantier new?", new_site_path, class:"footer_link"%>
    <%= link_to "J'achète", materials_index_path, class:"footer_link"%>
  </li>
</div>
