
  <div class="concept blue-home white">

    <div class="col-sm-6 ">
      <br>
      <br>
      <span class="big-helmet">
          <%= show_svg('helmet.svg') %>
      </span>
    <br>
      <h2 ><strong>BRIIIK</strong> </h2>
      <h3 class="title-home"> L'économie circulaire du BTP brique par brique </h3>
      <br>
      <br>

      <%= image_tag "homeBRIIIK"%>
    </div>


    <div class="actors ">

      <h5 class="home-title"><i class="fas fa-coins icons-home "></i> Vous gérez un chantier?</h5>
        <p class= "home-text"> Economisez de l’argent, du temps et de l’espace <br>sur la collecte des déchets.</p>
      <h5 class="home-title"><i class="far fa-clipboard icons-home"></i> Vous travaillez sur un chantier ?</h5>
        <p class= "home-text"> Mettez en ligne les matériaux non utilisés <br>et augmentez vos primes</p>
      <h5 class="home-title"><i class="fas fa-leaf icons-home"></i> Vous faites des travaux chez vous?</h5>
        <p class= "home-text"> Récupérez des matériaux à proximité et à moindre coût.</p>
      <h5 class="home-title"><i class="fas fa-leaf icons-home"></i> La consommation responsable vous parle?</h5>
        <p class= "home-text"> Rejoignez <bold>BRIIIK</bold> et construisons ensemble l’économie circulaire du BTP de demain</p>

    </div>

  </div>

  <%= render "shared/footer-home" %>




