<div class="container">
  <div class="col-xs-6">
    <br>
  <%= render "shared/carousel-home" %>
  </div>
  <br>
  <div class="col-xs-6 d-flex flex-column text-center">
    <h2>POURQUOI UTILISER <strong>BRIIIK</strong> ?</h2>
  <br>
    <h4 ><i class="fas fa-coins icons-home"></i> Vous gérez un chantier?</h4>
      <p> Economisez de l’argent, du temps et de l’espace sur la collecte des déchets.</p>
    <h4><i class="far fa-clipboard icons-home"></i> Vous travaillez sur un chantier ?</h4>
      <p> Mettez en ligne les matériaux non utilisés et augmentez vos primes</p>
    <h4><i class="fas fa-leaf icons-home"></i> Vous faites des travaux chez vous?</h4>
      <p> Récupérez des matériaux à proximité et à moindre coût.</p>
    <h4><i class="fas fa-leaf icons-home"></i> Vous voulez consommer de manière responsable?</h4>
      <p> Rejoignez Briiik et construisons ensemble l’économie circulaire du BTP, brique par brique.</p>
  </div>
  <%= render "shared/footer-home" %>
</div>




