<div class="container">
  <div class="col-xs-6">
    <br>
  <%= render "shared/carousel-home" %>
  </div>
  <br>
  <div class="col-xs-6">
    <h2>POURQUOI UTILISER <strong>BRIIIK</strong> ?</h2>
  <br>
    <h3><i class="fas fa-coins icons-home"></i> ÉCONOMIES</h3>
      <p> Réduisez vos coûts de gestion des déchets tout en générant un revenu supplémentaire.</p>
    <h3><i class="far fa-clipboard icons-home"></i> TRAÇABILITÉ</h3>
      <p> Nous nous assurons de la provenance des produits et établissons des bordereaux de suivi.</p>
    <h3><i class="fas fa-leaf icons-home"></i> ENVIRONNEMENT</h3>
      <p> Intégrez l'économie circulaire dans vos projets.</p>
  </div>
  <%= render "shared/footer-home" %>
</div>
