.main-button {
  background-color: #F46036;
  color: white;
  border-radius: 18px;
  margin: 10px 80px 20px;
  text-align: center;
  cursor: pointer;
}

input[type=button], input[type=submit], input[type=reset] {
  color: white;
}


.links-sign-in {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-decoration: none;
}
