.card-material  {
  overflow: hidden;
  // background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-material > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-material h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-material p {
  font-size: 11px;
  opacity: .7;
  margin: 0;
}


.card-material .card-material-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #1E1E24;
  flex: column;
}

.card-material-infos .card-material-user {
  position: absolute;
  right: 16px;
  top: -190px;
  width: 40px;
}

.card-material-user {
  color: #FFFFFF;
  background-color: #F46036;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  padding: 5px 0px;
}

.card-material-bid-user {
  // background-color: #3D2B3D;
  // border-radius: 2px;
  color: #9B1D20;
  // padding: 3px 6px;

}

.card-material {
  // background-color: #9B1D20;
  // border-radius: 2px;
  color: #9B1D20;
  // padding: 3px 6px;
}

.card-prices {
  display: inline-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;


  // margin: 5px 0px 5px 10px;
}

.card-material-pricing.card-material {
  margin-left: 10px;
  align-items: center;
  box-shadow: none;
}


.card-material-details {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.card-material-text {
  flex-grow: 1;
  // padding: 10px;
}

.card-material-description {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-material-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-material-right {
  display: flex;
  align-content: center;
  align-self: center;
  flex-direction: column;
}

.personalized-message {
  display: flex;
  justify-content: center;
}

.blue-text {
  color :#3D2B3D;
}

.title-cards {
  font-size: 16px;
  margin: 0px 0px 15px 0px;
}

.show-box {
  padding: 15px;
}

.materials {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 10px;
}

.card-material-sales, .card-material {
  min-width: calc(100vw - 28px);
  margin-right: 20px;
}

.txt-red {
  color: #9B1D20;
}
