.card-material  {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-material > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-material h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-material p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-material .card-material-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #1E1E24;
}

.card-material-infos .card-material-user {
  position: absolute;
  right: 16px;
  top: -190px;
  width: 40px;
}

.card-material-user {
  color: #FFFFFF;
  background-color: #F46036;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  padding: 5px 0px;
}

.card-material-bid-user {
  background-color: #3D2B3D;
  border-radius: 2px;
  color: white;
  padding: 3px 6px;

}

.card-material-highest-bid {
  background-color: #9B1D20;
  border-radius: 2px;
  color: white;
  padding: 3px 6px;
}

.card-prices {
  display: inline-flex;
  margin-bottom: 30px;
}





