// .concept {
// padding-top: 80px;
//  padding-bottom: 223px;
// }

.text-home {
  font-size: 22px;
}

.home-image {
padding-bottom: 80px;
padding-top: 80px;
}

.actors {
display: flex;
flex-direction: column;
text-align: center;
padding-left: 30px;
padding-right: 30px;
}
