<div class="container">
  <div class="row justify-content">
    <div class="col-sm-6 mt-3 p-3">
      <h3>Créer un chantier </h3>
      <%= render "form", site: @site %>
      <%= link_to 'Back', @site, class: "button-back"%>
    </div>
  </div>
</div>
